<launch>

	<param name="pc_name" type="string" value="YOUR_POINTCLOUD.pcd" />
	<rosparam command="load" file="$(find im_mesh)/config/offline_pointcloud.yaml" />
	<param name="meshing/distance_scale" type="double" value="1.0" /> 
	<param name="gui_font_size" type="int" value="20" /> 
	
	<node pkg="im_mesh" type="im_mesh_mapping" name="laserMapping" output="screen" launch-prefix=""> 
	</node>

</launch> 	
